.bicentenario-nav {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding: 1rem;
    box-shadow: 0 1px 5px black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a81829;
    height: 10dvh;
}

.nav-icons {
    display: grid;
    grid-template-columns: 16rem;
    min-height: 4rem;
    gap: 1rem;
}

.nav-img-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.nav-img-container a {
    display: grid;
    align-items: end;
}

.nav-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    font-family: "Agency FB", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #000;
    text-decoration: underline;
}

.nav-menu-button {
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: transparent;
}

@media (max-width: 350px) {
    .nav-icons {
        grid-template-columns: 12rem;
    }
}
