.bicentenario-nav {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding: 1rem;
    box-shadow: 0 1px 3px black;
    align-items: center;
    position: sticky;
}

.nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    gap: 1rem;
}

.nav-img-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.nav-img-container a {
    display: grid;
    align-items: end;
}

.nav-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.nav-links a:hover {
    color: #000;
    text-decoration: underline;
}

.nav-menu-button {
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: transparent;
}

@media (max-width: 525px) {
    .nav-icons {
        grid-template-columns: repeat(2, 1.75rem);
        gap: 1rem;
    }
}
