.ubicacion {
    font-family: "MyriadPro", sans-serif;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    img {
        width: 35px;
        height: 35px;
    }
}

.ubicacion h3 {
    font-family: "MyriadPro", sans-serif;
    font-size: 0.95rem;
}

.ubicacion:nth-child(1) {
    color: var(--verde);
}
.ubicacion:nth-child(2) {
    color: var(--morado);
}
.ubicacion:nth-child(3) {
    color: var(--naranja);
}

.map-marker {
    width: 40px;
    height: 50px;
    background-size: cover;
    anchor-name: --anchor;
}

.map-tooltip {
    position-anchor: --anchor;
    insert-area: bottom;
}
