/* .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.timeline-image {
    height: 100%;
    background-color: transparent;
    border: none;
}

.timeline-image img {
    width: 100%;
    min-height: 12rem;
    object-position: 15%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    /* box-shadow: 0 0 0 2px #fff; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.timeline-content {
    overflow-y: auto;
    max-height: 12rem;
    padding-right: 0.5rem;
    word-break: break-word;
    hyphens: auto;
}

.timeline-content h2 {
    hyphens: auto;
}

.timeline-content::-webkit-scrollbar {
    width: 10px;
    /* margin: 1rem; */
}

.timeline-content::-webkit-scrollbar-track {
    background-color: rgba(138, 138, 138, 0.447);
    border-radius: 10px;
}

.timeline-content::-webkit-scrollbar-thumb {
    background: rgb(149, 149, 149);
    border-radius: 10px;
}

.timeline-content::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107);
}

.timeline-content::-webkit-scrollbar-corner {
    background: rgb(107, 107, 107);
    color: aqua;
}

.servicios-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.servicios-button {
    padding: 1rem;
}
