.banner-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem;
    width: 100%;
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        padding: 0 1rem;
    }

    @media (max-width: 475px) {
        h1 {
            font-size: 1.25rem;
            text-align: center;
        }
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;

    .project-title {
        position: relative;
        display: grid;
        z-index: 5;
        background-color: #ffffffd0;
        padding: 0.5rem;

        h2 {
            font-family: "Poppins", sans-serif;
            font-size: 1.25rem;
            font-weight: 800;
        }
    }

    @media (min-width: 750px) {
        max-width: 300px;
    }
}

.project-img-container {
    position: relative;
    width: 175px;
    height: 175px;

    border-radius: 50%;
    top: 10px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    @media screen and (min-width: 350px) {
        width: 225px;
        height: 225px;
    }
}

.project-decoration {
    display: flex;
    gap: 5px;
    justify-self: end;
    align-self: flex-end;
    span {
        width: 7.5px;
        height: 7.5px;
    }
}

.modal-container {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b9;
    backdrop-filter: blur(5px);
    z-index: 20;
}

.project-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 2rem;
    gap: 1rem;
    max-width: 60%;
    max-height: 70dvh;
    overflow-y: auto;
    align-items: baseline;

    p {
        padding: 1rem;
        color: black;
        border-radius: 0.35rem;
    }

    @media (max-width: 475px) {
        max-width: 80%;
    }
}

.project-components {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.project-image-container {
    margin-left: 10px;
    position: relative;
    border: 1px solid black;
    width: 100%;

    p {
        width: 100%;
        color: red;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-caption {
        position: absolute;
        bottom: 0;
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        color: black;
    }
}

.project-key-words {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    padding: 1rem;
    span {
        font-weight: 800;
    }

    .embla-slider-button {
        padding-top: 0.75rem;
    }
}

.project-video {
    width: 100%;
}

.close-modal-button {
    position: absolute;
    top: 1.25rem;
    right: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    @media (min-width: 450px) {
        font-size: 2rem;
    }
}
