.infoCard {
    /* position: fixed; */
    background-color: #1f1d53;
    /* height: 100pxs; */
    color: white;
    display: grid;
    flex-direction: column;
}

.infoCard-img {
    display: grid;
    position: relative;
}

.infoCard-title {
    background-color: rgba(0, 0, 0, 0.449);
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: rgb(253, 253, 253);
    padding: 1rem;
}

.infoCard-content {
    padding: 3rem;
    font-family: "Poppins", sans-serif;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

.infoCard-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.infoCard-close {
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    right: 0;
    padding: 0.5rem;
}
